@import "tailwindcss";
@import url('./assets/fonts/index.css');

* {
  font-family: "Albert Sans", sans-serif;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-xs-max: 576px;
    /* Max width for xs (phones and smaller devices) */
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1200px;
    --color-primary: #008000;
    --color-secondary: #F6F3FA;
    --color-darkColor: #151513;
    --color-darkColorSec: #1E1E1E;
    --color-border: #c0c0c0;
    --color-borderDark: #8888883B;
    --color-textDark: #808080;
    --color-bgColorLight: #F5F5F5;
    --color-bgColorLightSec: #FAFAFA;
}

.scrollbar::-webkit-scrollbar {
    height: 0.4rem;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #008000;
}

.scrollbar::-webkit-scrollbar {
    width: 0.4rem;
}

.wholeContainer {
    @apply grid gap-4 w-full;
}

.form-container {
    @apply border border-border dark:border-borderDark bg-bgColorLight dark:bg-darkColor p-5 rounded-lg text-base;
}

.box-container2 {
    @apply grid md:grid-cols-2 gap-7;
}

.box-container3 {
    @apply grid md:grid-cols-3 gap-7;
}

.buttonField {
    @apply pt-4 flex justify-end;
}

.tableContainer {
    @apply grid gap-2 p-4 border-1 border-border rounded-lg bg-bgColorLight dark:bg-darkColor dark:border-borderDark;
}

.tableContainerRow {
    @apply flex gap-4 m-2;
}

.modelContainer {
    @apply grid gap-2;
}

.modelFields {
    @apply border px-4 p-1 rounded-lg cursor-pointer hover:border-2 hover:border-primary;
}

.modelButton {
    @apply flex justify-evenly mt-3;
}

.modelName {
    @apply text-primary font-bold;
}